* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  height: 110px;
}
.nav__brand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.nav__logo {
  width: 110px;
  height: 110px;
}
.nav__title {
  color: #d9d9d9;
  font-size: 36px;
}
.nav__catalogue {
  background: #2138ad;
  color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  box-shadow: 0 4px 4px 0;
  width: 165px;
  height: 60px;
  font-size: 36px;
}
.nav__search__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: #2138ad;
  border-radius: 30px;
  height: 60px;
  overflow: hidden;
  margin-left: 55px;
}
.nav__search__input {
  background: #2138ad;
  text-align: center;
  border: none;
  outline: none;
  color: #d9d9d9;
  font-size: 36px;
  width: 90%;
}
.nav__search__input::placeholder {
  color: #d9d9d9;
}
.nav__search__button {
  width: 60px;
  height: 60px;
  background: #2138ad;
  outline: none;
  border: none;
  border-left: 1px solid #d9d9d9;
  font-size: 32px;
  text-align: center;
}
.nav__cart {
  margin-left: 600px;
  width: 135px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 64px;
  padding: 24px;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.col-left {
  gap: 16px;
  width: 35%;
}
.col-left-item {
  width: 100%;
  height: 64px;
  text-align: center;
  border-radius: 15px;
  background: #2138ad;
  color: #d9d9d9;
  font-size: 36px;
  border: none;
  outline: none;
  vertical-align: middle;
  line-height: 64px;
  text-decoration: none;
}
.col-right {
  width: 65%;
}
.main__search__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 100px;
  background: #2138ad;
  overflow: hidden;
}
.main__search__container__input {
  color: #d9d9d9;
  font-size: 32px;
  text-align: center;
  width: 90%;
  background: #2138ad;
  border: none;
  outline: none;
}
.main__search__container__input::placeholder {
  color: #d9d9d9;
}
.main__search__container__button {
  font-size: 32px;
  width: 10%;
  height: 100%;
  background: #2138ad;
  border: none;
  outline: none;
  border-left: 1px solid #d9d9d9;
}
.car-banner {
  align-self: flex-end;
}
footer {
  width: 100%;
  height: 218px;
}
footer,
.footer_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__col {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__col_first {
  width: 40%;
}
.time__logo {
  width: 65px;
  height: 65px;
  margin-right: 12px;
}
.time__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
.time__content__title {
  font-size: 26px;
  color: black;
}
.time__content__time {
  border-radius: 10px;
  border: 1px solid lightgray;
  text-wrap: nowrap;
  padding: 8px;
}
.footer__social {
  margin-top: 36px;
  width: 48px;
  height: 48px;
  margin-left: 36px;
}
.footer__header {
  font-size: 28px;
  font-weight: 300;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.footer__header_blue {
  color: #2138ad;
}
.footer__link {
  color: black;
  font-size: 26px;
  text-decoration: none;
}
